<div class="p-4">
  <h3>Sidebar</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
</div>

<div class="p-4 mt-5 border-top">
  <h3>Tag List</h3>
  <p>
    {% include 'snippets/tagslist.njk' %}
  </p>
</div>
