<div class="row border-top py-5">
  <div class="col-12">
    <p class=""><img src="{{ '/img/hkimg.png' | url }}" alt="Holger Koenemann, UX designer and Frontend Engineer" width="60" height="60" class="float-left mt-1 me-3 gradient-rounded">A tiny sideproject by
      <a href="https://github.com/holger1411" class="link-fancy">Holger Koenemann</a>. Made in lovely Hannover, Germany</p>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
