  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ metadata.description }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ '/img/favicon.png' | url }}">
  <meta name="author" content="{{ metadata.author }}">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="HandheldFriendly" content="true"/>
  <title>{{ title or metadata.title }}</title>
  <!-- build:css -->
  <link rel="stylesheet" href="{{ '/css/theme.css' | url }}">
   <!-- endbuild -->
