<nav class="navbar navbar-expand-lg navbar-light pt-0">
  <div class="container">
    <a class="navbar-brand mb-0 py-4 px-3 pt-5 text-center text-white bg-primary" href="{{ '/' | url }}">11straps</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-1">
          <a class="nav-link" aria-current="page" href="{{ '/' | url }}">Home</a>
        </li>

        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/default' | url }}">Sample Page</a>
        </li>

        <li class="nav-item me-1">
        <a class="nav-link" href="{{ '/blog' | url }}">Sample Blog</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
