<nav class="navbar navbar-expand-lg navbar-dark pt-0">
  <div class="container">
    <a class="navbar-brand mb-0 py-4 px-3 pt-5 text-center text-white bg-primary" href="#">11straps</a>
  </div>
</nav>
