<ul>
{% for post in collections.posts | reverse %}
    {% if loop.index0 < 5 %}
  <li>
    <a href="{{ post.url | url }}" class="link-fancy">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
  {% endif %}
{% endfor %}
</ul>
