<div class="row d-flex justify-content-center">
  <div class="col-12">
    {%- for post in posts %}
      <div class="py-5 border-bottom">
        <a href="{{ post.url | url }}"><h2 class="display-4">{{ post.data.title}}</h2></a>
        <p>Published
          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </p>
        <p>
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="btn btn-outline-dark btn-sm me-2">{{ tag }}</a>
        {% endfor %}
      </p>
        <p>{{ post.data.summary }}</p>
        <a href="{{ post.url | url }}" class="link-fancy">Read more...</a>
      </div>
    {% endfor %}
  </div>
</div>

<div class="row d-flex justify-content-center mt-3">
  <div class="col-12">
    <div class="row d-flex justify-content-between">
      <div class="col">
        {% if pagination.href.previous %}
          <a href="{{pagination.href.previous}}" class="btn btn-outline-primary">< Previous Page</a> {% endif %} </div> <div class="col text-end"> {% if pagination.href.next %} <a href="{{pagination.href.next}}" class="btn btn-outline-primary">Next Page ></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
