<!doctype html>
<html class="h-100" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Combination of static site generator eleventy and CSS framework Bootstrap 5 into one solid boilerplate">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
  <meta name="author" content="Holger Koenemann">
  <meta name="generator" content="11straps">
  <meta name="HandheldFriendly" content="true"/>
  <title>{{ title or metadata.title }}</title>
  <!-- build:css -->
   <link rel="stylesheet" href="css/theme.css">
   <!-- endbuild -->
</head>

<body>
  <div class="container">
    <header class="row mb-auto">
      <div>
        <div class="float-md-left mb-0 mt-2 py-4 px-1 text-center text-white bg-primary">11straps</div>
        <!--<nav class="nav nav-masthead justify-content-center float-md-right">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>-->
      </div>
    </header>
</div>
    <main>
        {{ content | safe }}
    </main>
<div class="container my-vh-5">
    <footer class="mt-auto text-white-50">
      <div class="col-12">
        <p><img src="img/hkimg.png" alt="Holger Koenemann, UX designer and Frontend Engineer" width="50" class="float-left mt-1 mr-3 gradient-rounded">A tiny sideproject by <a href="https://github.com/holger1411" class="link-fancy">Holger Koenemann</a><br/>
          Made in lovely Hannover, Germany</p>
      </div>
    </footer>
  </div>

</body>

</html>
