<!doctype html>
<html class="h-100" lang="{{ metadata.language }}" data-bs-theme="{{ global.colorMode }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>

    {% include 'snippets/navbar.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer class="container">
      {% include 'snippets/footer.njk' %}
    </footer>

  </body>

</html>
