<!doctype html>
<html class="h-100" lang="en">

<head>

  {% include 'snippets/head.njk' %}

</head>

<body class="bg-dark text-light">

    {% include 'snippets/navbar.njk' %}

    <main>
        {{ content | safe }}
    </main>

    {% include 'snippets/footer.njk' %}

</body>

</html>
