//This is an example of how you can change BS5 variables. Just add the changed variables here and they will overwrite the defaults.
// We changed the default font and the default $blue color (which is set as $primary as well)
$font-family-sans-serif:      "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$blue: #1717e5;
