$font-family-sans-serif:      "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$gray-900: #151515;
$gray-300: #888;
$blue: #1717e5;
$gray-800: #282828;
$orange: #ff6200;
$warning: $orange;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$lead-font-weight:200;
$font-weight-light:           200 !default;
$font-weight-normal:          200 !default;
$lead-font-size:              $font-size-base * 1.3;
