$font-family-sans-serif:      "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$gray-900: #151515;
$gray-300: #888;

$body-bg:  $gray-900;
$body-color: $gray-300;
$font-size-base:              1.1rem !default; // Assumes the browser default, typically `16px`
$lead-font-weight:200;
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$lead-font-size:              $font-size-base * 1.3;
