$font-family-sans-serif:      "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$gray-900: #151515;
$gray-300: #888;

$yellow:  #ffc107;
$primary: $yellow;
$body-bg:  $gray-900;
$body-color: $gray-300;

$lead-font-weight:200;

$display-font-sizes: (
  1: 6rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;
