---
layout: layouts/default.njk
title: Rules of Battle
---
<hr/>
<p class="lead">
The aim of the game is to collectively count to 10. Players must achieve this without repetition, muff-dodging, clashing or speaking out of terms.
</p>
<hr/>
<h2>Starting a Game</h2>
<p>Any player starts a new game by calling out "Raul". Whilst a game is in-play a new one cannot be started.</p>

<h2>Rules</h2>
<p>
<ul>
  <li>Only one person can say anything at a time after the "Raul" call has been spoken.</li>
  <li>Players must be cautious not to speak over another person's call.</li>
  <li>Two or more players calling at the same time triggers a Battle!</li>
  <li>After any fowl takes place, the counter is reset to 1.</li>
  <li>After calling Raul, the sequence of subsequent calls is Number, Animal, Food.</li>
  <li>Players identified as not contribute equally can be accused of muff-dodging.</li>
  <li>Muff-dodging is decided by a blind vote. All players close their eyes and put thumbs up or down if they think the player was truly muff-dodging. When players open their eyes again the vote is counted and justice is served.</li>
  <li>Falsely accusing a player of muff-dodging will result in that player losing a life.</li>
</ul>
</p>

<h2>Example Play Sequence</h2>
<ol>
  <li>Someone says "Raul"</li>
  <li>Someone says 1</li>
  <li>Someone says an animal</li>
  <li>Someone says a food</li>
  <li>Someone says 2</li>
  <li>Someone says an animal</li>
  <li>Someone says a food</li>
  <li>Someone says 3</li>
  <li>...</li>
</ol>
