---
layout: layouts/base.njk
---
<div class="container my-vh-6">
<div class="row">

  <div class="col-12 col-lg-6 my-4">
    <h1 class="display-5 text-white">
      <strong>11straps</strong> is a static website boilerplate. It combines Eleventy & Bootstrap 5.
    </h1>

    <a class="lead link-fancy my-1 py-2" href="https://github.com/holger1411/11straps">Check it out on Github <img src="img/arrow-right.svg" alt="arrow pointing to the right icon"/></a>
  </div>
</div>
  <!--<div class="col col-12 col-lg-8 mt-5">
    <p class="lead text-light">{{ frontpage.text }}</p>
  </div>-->
</div>

<div class="wrapper text-white position-relative my-vh-5 bg-primary">
    <div class="bg-gray900 w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-4"><hr/>
    <div class="row  justify-content-between d-flex align-items-stretch">
      <div class="col-12 col-lg-5 py-vh-1">
        <img src="img/chart-1.svg" class="mb-3" alt="a chart icon"/>
        <h2>What is 11straps?</h2>
        <p>11straps is a boilerplate to generate static and fast websites using HTML, CSS and JS. It uses its own build and dev process and combines the power of the industry leading CSS framework and the easierst to learn static site generator.</p>
      </div>

      <div class="col-12 col-lg-5 py-vh-1">
        <img src="img/code-2.svg" class="mb-3" alt="a code icon"/>
        <h2>What is in it?</h2>
        <p>11straps come´s with the static site generator Eleventy and the CSS framework Bootstrap 5 in it. It combines both via npm and Gulp and adds some dev and build magic to it. This website itself is also included as example.</p>
      </div>

      <div class="col-12 col-lg-5 py-vh-1">
                <img src="img/monitor.svg" class="mb-3" alt="a monitor icon"/>
                <h2>What comes out?</h2>
        <p>A minified HTML site with minified and purged CSS file and optimized assets. Thats it. Just a clean website to please you, your users and Google.</p>
      </div>

      <div class="col-12 col-lg-5 py-vh-1">
                <img src="img/trending-up.svg" class="mb-3" alt="a trending up icon"/>
                <h2>Who is it made for?</h2>
        <p>Basically for anyone who can use a terminal and who don´t want to start from scratch every time...but who wants to use Eleventy and Bootstrap 5 in combination.</p>
      </div>
    </div>
  </div>

</div>

<div class="container text-white"><hr/>
  <div class="row py-vh-3">
    <div class="col-12 col-lg-6 border-right">
            <h2>Documentation</h2>
<p>The full documentation can be found over there at <a href="https://github.com/holger1411/11straps/blob/main/README.md" class="link-fancy">Github</a>.</p>
    </div>
    <div class="col-12 col-lg-6 pl-4">
            <h2>Credits</h2>
<p>Many thanks to the <a href="https://www.11ty.dev/" class="link-fancy">Eleventy</a> and the <a href="https://www.getbootstrap.com" class="link-fancy">Bootstrap</a> team of course.<br/> Special thanks to Rasmus Anderson for the great <a href="https://rsms.me/inter/" class="link-fancy">Inter UI</a> typeface familiy I use on this website.</p>
    </div>

  </div><hr/>
</div>
