---
layout: layouts/base.njk
---
<div class="row">

  <div class="col-12 my-4">
    <h1 class="display-1 text-white">
      <strong>11straps</strong> is a static website boilerplate. It combines Eleventy with Bootstrap 5.
    </h1>
    <div class="btn btn-light btn-lg px-5 mt-4 py-2 mr-2">Download</div><a class="btn btn-link text-light btn-lg mt-4 py-2" href="https://github.com/holger1411/11straps">Github</a>
  </div>

  <!--<div class="col col-12 col-lg-8 mt-5">
    <p class="lead text-light">{{ frontpage.text }}</p>
  </div>-->
</div>
