---
layout: layouts/blank.njk
---

<div class="container my-vh-6">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-4 text-center">
      <h1 class="display-3 fw-bolder">
        Welcome to the
        <strong>11straps</strong>
        demo website!
      </h1>
      <p class="lead mb-4">It combines the static website generator Eleventy & the CSS framework Bootstrap 5.</p>
      <a class="btn btn-primary px-5 py-3 me-4 position-relative" href="https://gumroad.com/l/WPeVF" target="_blank" rel="noopener" >Download
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">v0.2<span class="visually-hidden">latest version</span></span></a>
      <a class="link-fancy py-2" href="https://github.com/holger1411/11straps">Check it out on Github
      </a>
    </div>
  </div>
</div>

<div class="wrapper position-relative my-vh-5 bg-light text-dark">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-4">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5">
        <h2 class="h2">Open source & free</h2>
        <p>11straps is an open source project released under the MIT license. It is free for everyone. You are welcome to test, contribute and improve it or use it even for commercial projects.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Eleventy + Bootstrap = 💪</h2>
        <p>11straps come´s with the static site generator Eleventy and the CSS framework Bootstrap 5 in it. It combines both via npm and Gulp and adds some dev and build magic to it. This website itself is also included as example.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Local server & Browser Sync</h2>
        <p>11straps includes a dev build process with a local server and browser sync. Everything you need for your local live dev environment.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Minified and purged output</h2>
        <p>Once you are done with your local development it´s time for a prod build. The 11straps prod output is a minified HTML site with a minified and purged CSS file and optimized assets. Thats it. Just a clean, fast and static website will come out.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5 border-top">
    <div class="col-12 col-lg-6 border-right">
      <h2>Documentation</h2>
      <p>The full documentation can be found over there at
        <a href="https://github.com/holger1411/11straps/blob/main/README.md" class="link-fancy" target="_blank" rel="noopener">Github</a>.</p>
    </div>
    <div class="col-12 col-lg-6 pl-4">
      <h2>Credits</h2>
      <p>Many thanks to the
        <a href="https://www.11ty.dev/" class="link-fancy" target="_blank" rel="noopener">Eleventy</a>
        and the
        <a href="https://www.getbootstrap.com" class="link-fancy" target="_blank" rel="noopener">Bootstrap</a>
        team of course.<br/>
        Special thanks to Rasmus Anderson for the great
        <a href="https://rsms.me/inter/" class="link-fancy" target="_blank" rel="noopener">Inter UI</a>
        typeface familiy I use on this website.<br/>
        Also a big shoutout to
        <a href="https://www.dennissnellenberg.nl/en/" class="link-fancy" target="_blank" rel="noopener">Dennis Snellenberg</a>
        for his awesome Angular Icon set</p>
    </div>
  </div>
</div>
