---
layout: layouts/code.njk
title: Pricing 1
description: Simple pricing table. Inspired by the vercel.com pricing page
---
<div class="row g-0 d-flex align-items-stretch border rounded shadow">
  <div class="col-6 bg-light p-5 d-flex align-items-center">
    <ul class="list-unstyled">
      <li class="border-bottom py-2 my-1">
        <span class="text-primary me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        HTTPS-enabled
        <span class="rounded p-1 bg-white fw-bold">Custom Domains</span></li>
      <li class="border-bottom py-2 my-1">
        <span class="text-primary me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        <span class="rounded p-1 bg-white">Continuous Deployment</span>
        with Git</li>
      <li class="border-bottom py-2 my-1">
        <span class="text-primary me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        High-performance
        <span class="rounded p-1 bg-white">Edge Network</span></li>
      <li class="border-bottom py-2 my-1">
        <span class="text-primary me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        Unlimited
        <span class="rounded p-1 bg-white">Websites & APIs</span></li>
      <li class="py-2 my-1">
        <span class="text-primary me-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg>
        </span>
        <span class="rounded p-1 bg-white">Serverless Functions</span>
        in Node.js, Go, and more</li>
    </ul>
  </div>
  <div class="col-6 p-5 text-center d-flex align-items-center justify-content-center border-start">
    <div>
      <h1 class="display-1">
        <span class="fs-1">$</span><span class="fw-bold">5</span><span class="fs-3 text-secondary">/mo</span></h1>
      <a href="#" class="btn btn-primary btn-lg px-5 py-3 shadow mb-3 fs-6">Start for free</a>
      <p class="text-muted">No credit card required</p>
    </div>
  </div>
</div>
